body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

/* HEADER COMEÇO */

header h1 {
    text-align: center;
    font-size: 3rem;
}

/* HEADER FIM */

/* MAIN COMEÇO */

main {
    display: flex;
    justify-content: space-between;
    height: 80vh;
}

main #column_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(1, 255, 115);
    flex: 1;
}

main #column_1 .option {
    background-color: #fff;
    margin: 1rem 8rem;
    padding: 2rem .5rem;
    border-radius: 5rem;
    border: none;
    font-weight: bold;
    transition: .5s;
    font-size: 1.5rem;
}

main #column_1 .option:hover {
    transform: scale(1.1);
}

main #column_1 .option:active {
    transform: scale(1.25);
}

main #column_2 {
    background-color: rgb(0, 136, 255);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

main #column_2 #mainResult {
    width: 80%;
    height: 80%;
    background-color: rgba(117, 182, 219, 0.349);
    border-radius: 5rem;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-around;
}

main #column_2 #mainResult #divInput {
    display: flex;
    flex-direction: row;
    align-self: center;
}

main #column_2 #mainResult #input_input {
    width: 20rem;
    height: 3rem;
    border-radius: 1rem;
    border: transparent;
    padding: .2rem;
    text-align: center;
    font-size: 1.3rem;
}

main #column_2 #mainResult #buttonSpace {
    background-color: transparent;
    border: transparent;
    width: 1rem;
}

main #column_2 #mainResult #buttonResult {
    padding: 1rem;
    border-radius: 3rem;
    border: transparent;
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

main #column_2 #mainResult #buttonResult:hover {
    transform: scale(1.05);
}

main #column_2 #mainResult #buttonResult:active {
    transform: scale(1.25);
}

main #column_2 #mainResult .divResults {
    margin-left: 2rem;
}

main #column_2 #mainResult .divResults .buttonsResult {
    background-color: rgb(100, 100, 100);
    border: transparent;
    padding: .3rem .6rem;
    border-radius: 1rem;
    box-shadow: 1px 1px 10px black;
    transition: 0.2s;
}

main #column_2 #mainResult .divResults .buttonsResult:hover {
    transform: scale(1.1);
}

main #column_2 #mainResult .divResults .buttonsResult:active {
    transform: scale(1.4);
}

main #column_2 #mainResult .tituloResult {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
}

main #column_2 #mainResult .spansResults {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
}

main #column_3 {
    background-color: rgb(174, 0, 255);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

main #column_3 #placeInformation {
    width: 80%;
    height: 80%;
    background-color: rgba(43, 226, 150, 0.39);
    border-radius: 5rem;
    overflow-y: auto;
    box-shadow: 1px 3px 8px 1px black;
}

main #column_3 #placeInformation::-webkit-scrollbar {
    display: none;   
}

main #column_3 #placeInformation hr {
    width: 100%;
    border-color: #000;
}

main #column_3 #placeInformation #placeInformationText {
    display: flex;
    flex-direction: column;
    margin: 3rem 2rem;
    text-align: justify;
}   

main #column_3 #placeInformation #placeInformationText h3 {
    align-self: center;
}

main #column_3 #placeInformation #placeInformationText h4 {
    font-size: 1.05rem;
}

main #column_3 #placeInformation #placeInformationText span {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .9rem;
}

main #column_3 img {
    width: 100%;
}

main #column_3 #placeInformation #placeInformationText button {
    width: 40%;
    align-self: center;
    padding: .5rem;
    border-radius: 1rem;
    border: transparent;
    margin: 1rem;
    background-color: rgb(199, 212, 74);
    font-weight: bold;
    transition: .5s;
    color: rgb(22, 47, 117);
}

main #column_3 #placeInformation #placeInformationText button:hover {
    transform: scale(1.05);
}

main #column_3 #placeInformation #placeInformationText button:active {
    transform: scale(1.2);
}


/* More INFOS */

#horizontal .overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-color: rgb(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}


#horizontal .modal {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1.2rem;
    border-radius: .8rem;
    width: 1000px;
    max-width: 90%;
    max-height: 75%;
    box-shadow: 0 .2rem 1.2rem rgba(0, 0, 0, 0.3);
    position: relative;
    animation: aparecer 0.3s ease;
    overflow-y: auto;
}

#horizontal .modal::-webkit-scrollbar {
display: none;
}

#horizontal .modal #saberDecimalBinario, #saberOctalBinario, #saberHexadecimalBinario {
    color: #0084ff;
    text-decoration: underline;
}

#horizontal .close {
    position: absolute;
    top: 0.7rem;
    right: 0.95rem;
    font-size: 1.2rem;
    cursor: pointer;
    color: #333;
}

@keyframes aparecer {
    from { transform: scale(0.8); opacity: 0;}
    to { transform: scale(1); opacity: 1;}
}

/* MAIN FIM */

footer {
    width: 100vw;
    position: absolute;
    bottom: 0;
    background-color: black;
    color: white;
    padding: 2rem 0;
    text-align: center;
}